#inicio-sesion{
    display: block;
  position: static;
  padding: 16px;
  width: 100%;
  max-width: 320px; /* Ajusta este valor en píxeles para cambiar el ancho */
  margin: 0 auto;   /* Centra la caja horizontalmente */
  box-shadow: 0 10px 15px 1px rgba(151, 149, 149, 0.1), 0 4px 6px 2px rgba(0, 0, 0, 0.05);
}

body{
    background-color: #F4EFEB;
  min-height: 100vh;
  position: relative;
  font-family: sans-serif;
}

.bg-cobalto {
  background-color: #002FA7;
}